// SCSS模块导入
@use '../../theme/scss/_forward' as *;

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f2f5;
}
.not-found-content {
  text-align: center;
  h1 {
    font-size: 72px;
    font-weight: bold;
    color: #1890ff;
    margin-bottom: 16px;
  }
  p {
    font-size: 20px;
    margin-bottom: 24px;
    color: rgba(0, 0, 0, 0.65);
  }
} 